####################################
# Python
####################################

__pycache__/
*.py[cod]
*.pyo
*.pyd

####################################
# Virtual Environment
####################################

venv/
.venv/
env/

####################################
# Dataset
####################################

ai/dataset/
!ai/dataset/.gitkeep

####################################
# Trained Models
####################################

ai/models/
*.keras
*.h5
*.tflite
*.onnx
*.pt
*.pth

####################################
# Jupyter
####################################

.ipynb_checkpoints/

####################################
# VS Code
####################################

.vscode/

####################################
# macOS
####################################

.DS_Store

####################################
# Windows
####################################

Thumbs.db
Desktop.ini

####################################
# Logs
####################################

*.log

####################################
# Build
####################################

build/
dist/

####################################
# Temporary
####################################

*.tmp
*.bak
*.cache

####################################
# Environment
####################################

.env

####################################
# TensorBoard
####################################

logs/

####################################
# Pytest
####################################

.pytest_cache/

####################################
# Mypy
####################################

.mypy_cache/